In [1]:
import pandas as pd
from eunjeon import Mecab

### 데이터 불러오기

In [4]:
상폐기업뉴스 = pd.read_csv('../Step3-1_뉴스전처리/전처리후/상폐기업뉴스전처리.csv')
상폐기업뉴스추가 = pd.read_csv('../Step3-1_뉴스전처리/전처리후/상폐기업뉴스전처리추가.csv')
상폐기업 = pd.concat([상폐기업뉴스, 상폐기업뉴스추가])

In [5]:
상폐기업.reset_index(inplace=True)
상폐기업.drop(["index"],axis=1,inplace=True)
상폐기업

,기업,기사발행일,기사제목,뉴스기사본문전처리
0,네이쳐글로벌,2010.08.16. 오후 5:21,"네이쳐글로벌, 반기검토의견 ""의견거절'…거래정지",네이쳐글로벌는 일 반기 검토 의견이 의견거절로 관리종목 지정 사유가 발생했다고 공시...
1,네이쳐글로벌,2010.07.15. 오후 6:46,네이쳐글로벌 신용등급 `CC`로 두단계 하향,네이쳐글로벌의 신용등급을 기존 에서 으로 하향 조정한다고 한신정평가가 일 밝혔다....
2,네이쳐글로벌,2010.06.03. 오후 5:06,"네이쳐글로벌, 20대 1 감자 실시",네이쳐글로벌은 대 감자를 결의했다고 일 공시했다.감자 주주총회일은 다음달 일 감...
3,네이쳐글로벌,2010.05.24. 오전 10:41,<생생코스닥> 네이쳐글로벌 3거래일 연속 하한가,네이쳐글로벌이 연 거래일 연속 하한가를 기록하며 주가가 원 선 마저 위협 받고 있다...
4,네이쳐글로벌,2010.05.18. 오후 1:23,"네이쳐글로벌 ""생수시장 진출 하반기 150억 계획""",네이쳐글로벌은 대규모 생수회사를 자산양수도 방식으로 인수 추진 중이라고 일 밝혔다....
...,...,...,...,...
8489,코썬바이오,2020.01.10. 오후 7:40,"코썬바이오, 불성실공시법인 지정",한국거래소 코스닥시장본부는 일 코썬바이오가 지난해 월 최대주주 변경을 수반하는 주...
8490,코썬바이오,2019.12.20. 오후 6:53,"거래소, 코썬바이오 불성실 공시법인 지정…23일 주식거래 정지",한국거래소 코스닥시장본부는 오는 일 코썬바이오를 불성실 공시 법인으로 지정한다고 ...
8491,코썬바이오,2019.12.23. 오후 5:17,코썬바이오 불성실 공시법인 지정예고,코썬바이오는 공시불이행으로 불성실 공시법인으로 지정예고 됐다고 일 공시했다.사유는 ...
8492,코썬바이오,2019.12.23. 오후 5:23,"거래소, 코썬바이오 불성실 공시법인 지정예고",한국거래소 코스닥시장본부는 코썬바이오가 공시불이행에 따라 불성실 공시법인으로 지정...
8493,코썬바이오,2020.02.07. 오전 9:58,"인프라웨어, 최대주주는 누구?…‘호텔·바이오’ 사업 진출하나",소프트웨어 기업 인프라웨어의 최대주주가 변경된다. 새 최대주주는 호텔업을 운영하는...

### 전처리된 뉴스기사본문 토큰화

In [6]:
mecab=Mecab()
## 형태소 분석기 mecab를 사용한 토큰화 작업 (다소 시간 소요)

## Mecab으로 명사만 추출
상폐기업['뉴스기사본문전처리'] = 상폐기업['뉴스기사본문전처리'].apply(lambda x: mecab.nouns(x))
## 한 글자 단어 제거
상폐기업['뉴스기사본문전처리'] = 상폐기업['뉴스기사본문전처리'].apply(lambda x: [word for word in x if len(word) > 1])
상폐기업

,기업,기사발행일,기사제목,뉴스기사본문전처리
0,네이쳐글로벌,2010.08.16. 오후 5:21,"네이쳐글로벌, 반기검토의견 ""의견거절'…거래정지","[글로벌, 반기, 검토, 의견, 의견, 거절, 관리, 종목, 지정, 사유, 발생, ..."
1,네이쳐글로벌,2010.07.15. 오후 6:46,네이쳐글로벌 신용등급 `CC`로 두단계 하향,"[글로벌, 신용, 등급, 기존, 하향, 조정, 신정, 평가, 정평, 금융, 기관, ..."
2,네이쳐글로벌,2010.06.03. 오후 5:06,"네이쳐글로벌, 20대 1 감자 실시","[글로벌, 감자, 결의, 공시, 감자, 주주, 총회, 다음, 감자, 기준일, 월일,..."
3,네이쳐글로벌,2010.05.24. 오전 10:41,<생생코스닥> 네이쳐글로벌 3거래일 연속 하한가,"[글로벌, 거래일, 연속, 하한가, 기록, 주가, 위협, 글로벌, 오전, 시작, 가..."
4,네이쳐글로벌,2010.05.18. 오후 1:23,"네이쳐글로벌 ""생수시장 진출 하반기 150억 계획""","[글로벌, 규모, 생수, 회사, 자산, 양수, 방식, 인수, 추진, 인수, 완료, ..."
...,...,...,...,...
8489,코썬바이오,2020.01.10. 오후 7:40,"코썬바이오, 불성실공시법인 지정","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 지난해, 최대, 주주, 변경, 수..."
8490,코썬바이오,2019.12.20. 오후 6:53,"거래소, 코썬바이오 불성실 공시법인 지정…23일 주식거래 정지","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 성실, 공시, 법인, 지정, 공시..."
8491,코썬바이오,2019.12.23. 오후 5:17,코썬바이오 불성실 공시법인 지정예고,"[공시, 불이행, 성실, 공시, 법인, 지정, 예고, 공시, 사유, 최대, 주주, ..."
8492,코썬바이오,2019.12.23. 오후 5:23,"거래소, 코썬바이오 불성실 공시법인 지정예고","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 공시, 불이행, 성실, 공시, 법..."
8493,코썬바이오,2020.02.07. 오전 9:58,"인프라웨어, 최대주주는 누구?…‘호텔·바이오’ 사업 진출하나","[소프트웨어, 기업, 인프라, 웨어, 최대, 주주, 변경, 최대, 주주, 호텔, 운..."

### 분류단어 넣기

In [7]:
분류단어 = ['폐지', '격성', '퇴출', '실질', '심사', '속개', '이의', '심의', '거절']
분류단어 = '|'.join(분류단어)
분류단어

'폐지|격성|퇴출|실질|심사|속개|이의|심의|거절'

### 부도기사 레이블화

In [8]:
라벨 = 상폐기업['뉴스기사본문전처리'].apply(lambda x: [word for word in x if word in 분류단어]) # 분류단어 들어간 것들
라벨 = 라벨.apply(lambda x: [word for word in x if word not in '상장']) # 상장이라는 단어만 있는 것을 제외
라벨 = 라벨.apply(lambda x: 1 if (len(x)>=1) else 0) # 한글자 제거
상폐기업['뉴스기사 레이블'] = 라벨

In [9]:
상폐기업

,기업,기사발행일,기사제목,뉴스기사본문전처리,뉴스기사 레이블
0,네이쳐글로벌,2010.08.16. 오후 5:21,"네이쳐글로벌, 반기검토의견 ""의견거절'…거래정지","[글로벌, 반기, 검토, 의견, 의견, 거절, 관리, 종목, 지정, 사유, 발생, ...",1
1,네이쳐글로벌,2010.07.15. 오후 6:46,네이쳐글로벌 신용등급 `CC`로 두단계 하향,"[글로벌, 신용, 등급, 기존, 하향, 조정, 신정, 평가, 정평, 금융, 기관, ...",0
2,네이쳐글로벌,2010.06.03. 오후 5:06,"네이쳐글로벌, 20대 1 감자 실시","[글로벌, 감자, 결의, 공시, 감자, 주주, 총회, 다음, 감자, 기준일, 월일,...",0
3,네이쳐글로벌,2010.05.24. 오전 10:41,<생생코스닥> 네이쳐글로벌 3거래일 연속 하한가,"[글로벌, 거래일, 연속, 하한가, 기록, 주가, 위협, 글로벌, 오전, 시작, 가...",0
4,네이쳐글로벌,2010.05.18. 오후 1:23,"네이쳐글로벌 ""생수시장 진출 하반기 150억 계획""","[글로벌, 규모, 생수, 회사, 자산, 양수, 방식, 인수, 추진, 인수, 완료, ...",0
...,...,...,...,...,...
8489,코썬바이오,2020.01.10. 오후 7:40,"코썬바이오, 불성실공시법인 지정","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 지난해, 최대, 주주, 변경, 수...",1
8490,코썬바이오,2019.12.20. 오후 6:53,"거래소, 코썬바이오 불성실 공시법인 지정…23일 주식거래 정지","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 성실, 공시, 법인, 지정, 공시...",0
8491,코썬바이오,2019.12.23. 오후 5:17,코썬바이오 불성실 공시법인 지정예고,"[공시, 불이행, 성실, 공시, 법인, 지정, 예고, 공시, 사유, 최대, 주주, ...",0
8492,코썬바이오,2019.12.23. 오후 5:23,"거래소, 코썬바이오 불성실 공시법인 지정예고","[한국, 거래소, 코스닥, 시장, 본부, 바이오, 공시, 불이행, 성실, 공시, 법...",0
8493,코썬바이오,2020.02.07. 오전 9:58,"인프라웨어, 최대주주는 누구?…‘호텔·바이오’ 사업 진출하나","[소프트웨어, 기업, 인프라, 웨어, 최대, 주주, 변경, 최대, 주주, 호텔, 운...",0

### 기업 당 뉴스기사 수 추출

In [19]:
기사수=상폐기업.groupby("기업").count()
기사수

        기사발행일  기사제목  뉴스기사본문전처리  뉴스기사 레이블
기업
KCW        39    39         39        39
글로웍스       78    78         78        78
금강제강        5     5          5         5
나노트로닉스     26    26         26        26
나이스메탈      82    82         82        82
...       ...   ...        ...       ...
한와이어리스     95    95         95        95
해피드림       70    70         70        70
핸디소프트      46    46         46        46
휴먼텍코리아     63    63         63        63
히스토스템      88    88         88        88

[133 rows x 4 columns]

### 기업 당 뉴스 부도뉴스 레이블 합 도출

In [20]:
레이블합=상폐기업.groupby("기업").sum()
레이블합

        뉴스기사 레이블
기업
KCW           17
글로웍스          14
금강제강           4
나노트로닉스         0
나이스메탈         10
...          ...
한와이어리스        14
해피드림          14
핸디소프트         20
휴먼텍코리아         8
히스토스템         26

[133 rows x 1 columns]

### 부도기사비율 도출

In [21]:
기사수["부도기사비율"]=기사수["뉴스기사 레이블"]

In [22]:
기사수["부도기사비율"]=레이블합["뉴스기사 레이블"]/기사수["뉴스기사 레이블"]*100

In [23]:
기사수

        기사발행일  기사제목  뉴스기사본문전처리  뉴스기사 레이블     부도기사비율
기업
KCW        39    39         39        39  43.589744
글로웍스       78    78         78        78  17.948718
금강제강        5     5          5         5  80.000000
나노트로닉스     26    26         26        26   0.000000
나이스메탈      82    82         82        82  12.195122
...       ...   ...        ...       ...        ...
한와이어리스     95    95         95        95  14.736842
해피드림       70    70         70        70  20.000000
핸디소프트      46    46         46        46  43.478261
휴먼텍코리아     63    63         63        63  12.698413
히스토스템      88    88         88        88  29.545455

[133 rows x 5 columns]

In [24]:
기사수.reset_index(inplace=True)
기사수.drop(["기사발행일","기사제목","뉴스기사본문전처리","뉴스기사 레이블"],axis=1,inplace=True)
기사수.to_csv('./datasets/상폐기업_부도기사 비율.csv', index=None)

         기업     부도기사비율
0       KCW  43.589744
1      글로웍스  17.948718
2      금강제강  80.000000
3    나노트로닉스   0.000000
4     나이스메탈  12.195122
..      ...        ...
128  한와이어리스  14.736842
129    해피드림  20.000000
130   핸디소프트  43.478261
131  휴먼텍코리아  12.698413
132   히스토스템  29.545455

[133 rows x 2 columns]