In [1]:
import pandas as pd

In [19]:
mf=pd.read_csv("mecab_fasttext_기사수조합비교.csv",encoding="utf-8-sig",index_col=0)
mf.sort_values("기사수 차이",ascending=False).head(5)

                         단어조합  기사수 차이
12  ['퇴출', '재심사', '실질', '폐지']    1166
33   ['퇴출', '실질', '속개', '폐지']    1166
34   ['퇴출', '실질', '존폐', '폐지']    1165
23  ['퇴출', '판가름', '실질', '폐지']    1160
18   ['퇴출', '격성', '실질', '폐지']    1152

In [20]:
mf.sort_values("기사수 차이",ascending=True).head(5)

                         단어조합  기사수 차이
54   ['상장', '심사', '이의', '폐지']     986
45   ['상장', '격성', '이의', '폐지']    1000
90   ['격성', '심사', '이의', '폐지']    1008
50  ['상장', '판가름', '이의', '폐지']    1010
39  ['상장', '재심사', '이의', '폐지']    1010

In [21]:
mw=pd.read_csv("mecab_word2vec_기사수조합비교.csv",encoding="utf-8-sig",index_col=0)
mw.sort_values("기사수 차이",ascending=False).head(5)

                         단어조합  기사수 차이
26   ['퇴출', '격성', '요주', '폐지']    1143
29   ['퇴출', '격성', '일내', '폐지']    1141
27   ['퇴출', '격성', '존폐', '폐지']    1139
21  ['퇴출', '재심사', '격성', '폐지']    1138
10  ['퇴출', '판가름', '격성', '폐지']    1136

In [22]:
mw.sort_values("기사수 차이",ascending=True).head(5)

                         단어조합  기사수 차이
47   ['상장', '심사', '이의', '폐지']     986
56   ['상장', '격성', '이의', '폐지']    1000
92   ['심사', '격성', '이의', '폐지']    1008
52  ['상장', '재심사', '이의', '폐지']    1010
41  ['상장', '판가름', '이의', '폐지']    1010

In [23]:
of=pd.read_csv("okt_fasttext_기사수조합비교.csv",encoding="utf-8-sig",index_col=0)
of.sort_values("기사수 차이",ascending=False).head(5)

                              단어조합  기사수 차이
45     ['상폐', '적격성', '이의신청', '폐지']    1127
96  ['적격성', '이의신청', '스탠다드펌', '폐지']    1122
90     ['적격성', '벼랑', '이의신청', '폐지']    1122
17   ['상장폐지', '적격성', '이의신청', '폐지']    1122
86     ['적격성', '현행', '이의신청', '폐지']    1121

In [24]:
ow=pd.read_csv("okt_word2vec_기사수조합비교.csv",encoding="utf-8-sig",index_col=0)
ow.sort_values("기사수 차이",ascending=False).head(5)

                              단어조합  기사수 차이
44     ['상폐', '적격성', '이의신청', '폐지']    1127
93  ['적격성', '이의신청', '스탠다드펌', '폐지']    1122
16   ['상장폐지', '적격성', '이의신청', '폐지']    1122
90     ['적격성', '이의신청', '현행', '폐지']    1121
92     ['적격성', '이의신청', '존폐', '폐지']    1121

In [25]:
ow.sort_values("기사수 차이",ascending=True).head(5)

                            단어조합  기사수 차이
72     ['재심사', '날로', '거치', '폐지']    1052
73     ['재심사', '날로', '존폐', '폐지']    1054
9    ['상장폐지', '재심사', '날로', '폐지']    1054
104     ['날로', '현행', '거치', '폐지']    1054
108  ['날로', '거치', '스탠다드펌', '폐지']    1054