In [1]:
import pandas as pd

### 데이터 불러오기

In [13]:
df_재무비율=pd.read_csv('../Step1-1_재무비율전처리/최종기업목록_직접선정.csv', encoding='utf-8-sig')

In [14]:
df_재무비율.dropna(inplace=True)
df_재무비율

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부
0,네이쳐글로벌,2009,74.492049,-49.803589,-3.371182,673.432622,6.028268,2011-01-08,1
1,네프로아이티,2009,-0.465154,19.338150,13.884726,157.344363,76.780711,2011-11-05,1
2,뉴젠아이씨티,2009,27.593677,-1075.333708,-28.342808,136.342262,40.747316,2011-04-29,1
3,트루아워,2009,52.368738,-19.102365,-25.573719,412.297157,33.436299,2011-10-25,1
4,디패션,2009,20.920391,-333.294194,-23.158301,170.052742,71.074703,2011-05-07,1
...,...,...,...,...,...,...,...,...,...
265,지니뮤직,2016,45.063046,-14.623948,4.450491,262.390477,101.096537,2018-12-31,0
266,대주전자재료,2016,-8.786573,9.737698,2.277756,170.648920,48.084200,2018-12-31,0
267,크리스에프앤씨,2016,30.558431,46.651963,19.919396,213.287219,133.252743,2018-12-31,0
268,앤디포스,2016,81.281282,35.275974,18.934118,1071.393920,79.493948,2018-12-31,0
269,에이치엘비,2018,31.643601,13.030604,0.544161,321.677578,11.901687,2020-12-31,0

### 정상기업

In [15]:
df_정상기업_재무비율=df_재무비율[df_재무비율["부실기업여부"]==0]
df_정상기업_재무비율.reset_index(inplace=True)
df_정상기업_재무비율.drop("index",inplace=True,axis=1)
df_정상기업_재무비율

C:\Users\dbswo\AppData\Local\Temp\ipykernel_17552\322314421.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_정상기업_재무비율.drop("index",inplace=True,axis=1)

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부
0,씨제이이엔엠,2009,2.814262,16.478879,5.636979,174.850643,60.803587,2011-12-31,0
1,안랩,2009,47.466492,50.400744,8.359978,545.217948,56.939152,2011-12-31,0
2,포스코아이씨티,2009,-23.174026,-25.121698,6.080191,123.482176,130.063586,2011-12-31,0
3,네오위즈,2009,46.036067,20.646980,19.274236,386.954876,93.022027,2011-12-31,0
4,젬백스&카엘,2009,23.314514,-0.883477,-8.765436,238.951956,12.507727,2011-12-31,0
...,...,...,...,...,...,...,...,...,...
130,지니뮤직,2016,45.063046,-14.623948,4.450491,262.390477,101.096537,2018-12-31,0
131,대주전자재료,2016,-8.786573,9.737698,2.277756,170.648920,48.084200,2018-12-31,0
132,크리스에프앤씨,2016,30.558431,46.651963,19.919396,213.287219,133.252743,2018-12-31,0
133,앤디포스,2016,81.281282,35.275974,18.934118,1071.393920,79.493948,2018-12-31,0
134,에이치엘비,2018,31.643601,13.030604,0.544161,321.677578,11.901687,2020-12-31,0

### 부도기업

In [16]:
df_부실기업_재무비율=df_재무비율[df_재무비율["부실기업여부"]==1]
df_부실기업_재무비율.reset_index(inplace=True)
df_부실기업_재무비율.drop("index",inplace=True,axis=1)
df_부실기업_재무비율

C:\Users\dbswo\AppData\Local\Temp\ipykernel_17552\3488282285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_부실기업_재무비율.drop("index",inplace=True,axis=1)

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부실기업여부
0,네이쳐글로벌,2009,74.492049,-49.803589,-3.371182,673.432622,6.028268,2011-01-08,1
1,네프로아이티,2009,-0.465154,19.338150,13.884726,157.344363,76.780711,2011-11-05,1
2,뉴젠아이씨티,2009,27.593677,-1075.333708,-28.342808,136.342262,40.747316,2011-04-29,1
3,트루아워,2009,52.368738,-19.102365,-25.573719,412.297157,33.436299,2011-10-25,1
4,디패션,2009,20.920391,-333.294194,-23.158301,170.052742,71.074703,2011-05-07,1
...,...,...,...,...,...,...,...,...,...
130,위너지스,2016,4.206434,-376.016367,-21.360033,105.778735,78.213923,2018-10-11,1
131,위노바,2016,28.671608,-89.404580,-9.113157,487.272885,63.716291,2018-03-09,1
132,트레이스,2016,3.857923,-35.621815,0.788938,238.537763,22.490823,2018-10-11,1
133,레이젠,2016,-3.874133,-5.069385,-9.353084,190.706311,117.325339,2018-10-11,1
134,코썬바이오,2018,27.987275,-67.310998,-22.717546,583.153657,14.558605,2020-08-11,1

#### 정상기업 부도기사비율

In [19]:
df_정상기업_부도기사비율=pd.read_csv("./datasets/정상기업_부도기사 비율.csv",encoding="utf-8-sig")
df_정상기업_부도기사비율.columns=["회사명","회계년도","부도기사 비율"]
df_정상기업_부도기사비율["회계년도"]=df_정상기업_부도기사비율["회계년도"]-2 # 회계년도와 기사발행년도는 
df_정상기업_부도기사비율

         회사명  회계년도    부도기사 비율
0       경창산업  2011   8.064516
1    고영테크놀러지  2009  19.148936
2         광림  2014   1.818182
3     금화피에스시  2011  16.901408
4      나스미디어  2015   1.449275
..       ...   ...        ...
119   하이록코리아  2010   1.408451
120   한국정보통신  2013   4.545455
121     해성산업  2011   9.523810
122     홈캐스트  2014   8.695652
123      휴맥스  2009   3.947368

[124 rows x 3 columns]

### 부도기업 부도기사비율

In [20]:
df_상폐기업_부도기사비율=pd.read_csv("./datasets/상폐기업_부도기사 비율.csv",encoding="utf-8-sig")
df_상폐기업_부도기사비율.columns=["회사명","부도기사 비율"]
df_상폐기업_부도기사비율

        회사명    부도기사 비율
0       KCW  43.589744
1      글로웍스  17.948718
2      금강제강  80.000000
3    나노트로닉스   0.000000
4     나이스메탈  12.195122
..      ...        ...
128  한와이어리스  14.736842
129    해피드림  20.000000
130   핸디소프트  43.478261
131  휴먼텍코리아  12.698413
132   히스토스템  29.545455

[133 rows x 2 columns]

### 부도기업 부도기사비율합치기

In [21]:
상폐레이블=pd.merge(left = df_부실기업_재무비율 , right = df_상폐기업_부도기사비율, how = "left", on = "회사명")
상폐레이블 = 상폐레이블[['회사명', '회계년도', '운전자산총자본비율', '이익잉여금총자산비율', '총자산이익율', '시장가부채비율', '매출액회전율',
       '폐지일자', '부도기사 비율', '부실기업여부']]
상폐레이블

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부도기사 비율,부실기업여부
0,네이쳐글로벌,2009,74.492049,-49.803589,-3.371182,673.432622,6.028268,2011-01-08,10.666667,1
1,네프로아이티,2009,-0.465154,19.338150,13.884726,157.344363,76.780711,2011-11-05,39.423077,1
2,뉴젠아이씨티,2009,27.593677,-1075.333708,-28.342808,136.342262,40.747316,2011-04-29,16.161616,1
3,트루아워,2009,52.368738,-19.102365,-25.573719,412.297157,33.436299,2011-10-25,47.619048,1
4,디패션,2009,20.920391,-333.294194,-23.158301,170.052742,71.074703,2011-05-07,28.571429,1
...,...,...,...,...,...,...,...,...,...,...
130,위너지스,2016,4.206434,-376.016367,-21.360033,105.778735,78.213923,2018-10-11,20.000000,1
131,위노바,2016,28.671608,-89.404580,-9.113157,487.272885,63.716291,2018-03-09,21.951220,1
132,트레이스,2016,3.857923,-35.621815,0.788938,238.537763,22.490823,2018-10-11,3.389831,1
133,레이젠,2016,-3.874133,-5.069385,-9.353084,190.706311,117.325339,2018-10-11,9.523810,1
134,코썬바이오,2018,27.987275,-67.310998,-22.717546,583.153657,14.558605,2020-08-11,40.000000,1

### 정상기업 부도기사비율 합치기

In [22]:
정상레이블=pd.merge(left = df_정상기업_재무비율 , right = df_정상기업_부도기사비율, how = "left", on = ["회사명","회계년도"])
정상레이블 = 정상레이블[['회사명', '회계년도', '운전자산총자본비율', '이익잉여금총자산비율', '총자산이익율', '시장가부채비율', '매출액회전율',
       '폐지일자', '부도기사 비율', '부실기업여부']]
정상레이블

,회사명,회계년도,운전자산총자본비율,이익잉여금총자산비율,총자산이익율,시장가부채비율,매출액회전율,폐지일자,부도기사 비율,부실기업여부
0,씨제이이엔엠,2009,2.814262,16.478879,5.636979,174.850643,60.803587,2011-12-31,42.857143,0
1,안랩,2009,47.466492,50.400744,8.359978,545.217948,56.939152,2011-12-31,0.000000,0
2,포스코아이씨티,2009,-23.174026,-25.121698,6.080191,123.482176,130.063586,2011-12-31,3.703704,0
3,네오위즈,2009,46.036067,20.646980,19.274236,386.954876,93.022027,2011-12-31,0.000000,0
4,젬백스&카엘,2009,23.314514,-0.883477,-8.765436,238.951956,12.507727,2011-12-31,12.149533,0
...,...,...,...,...,...,...,...,...,...,...
130,지니뮤직,2016,45.063046,-14.623948,4.450491,262.390477,101.096537,2018-12-31,4.761905,0
131,대주전자재료,2016,-8.786573,9.737698,2.277756,170.648920,48.084200,2018-12-31,0.000000,0
132,크리스에프앤씨,2016,30.558431,46.651963,19.919396,213.287219,133.252743,2018-12-31,15.789474,0
133,앤디포스,2016,81.281282,35.275974,18.934118,1071.393920,79.493948,2018-12-31,0.000000,0
134,에이치엘비,2018,31.643601,13.030604,0.544161,321.677578,11.901687,2020-12-31,5.714286,0

### 데이터 총합 합치기

In [9]:
data_final=pd.concat([상폐레이블,정상레이블],axis=0)
data_final.to_csv('../Step4-3_재무비율_워드임베딩_모델링/datasets/부도기사비율_재무비율.csv',encoding="utf-8-sig")